#include <stddef.h>
#include <stdint.h>
#include <stdio.h>
#include <stdlib.h>
#include <string.h>

#define min(a, b) ((a) < (b) ? (a) : (b))
#define max(a, b) ((a) > (b) ? (a) : (b))

{% if settings.platform == "neon" -%}
#include "../measurements/vct_arm.h"
#define CPU_FREQ_GHZ 4.05
#define CPU_FREQ_HZ (CPU_FREQ_GHZ*1e9)
{% elif settings.platform == "avx2" -%}
#include "../measurements/tsc_x86.h"
{% else -%}
INVALID PLATFORM
{% endif %}

#include "datastructures.h"
#include "{{module_name}}.h"

#define SEED 42
#define NUM_WARMUP_BATCHES 7
#define NUM_MEASURE_BATCHES 40
// Adaptive # of samples (reps) taken per measuring round

static int compare_doubles(const void *a, const void *b)
{
    const double x = *(const double *)a;
    const double y = *(const double *)b;

    return (x > y) - (x < y);
}


typedef enum {
    MODE_MIN = 0,
    MODE_MEDIAN = 1
} IOMode;


int main(int argc, char **argv) {
    // Input
    if (argc != 5) {
        fprintf(stderr, "Usage: %s <start> <stop> <step> <I/O-mode:min|median>\nboth ends inclusive, and where each parameter is a byte length\n", argv[0]);
        return EXIT_FAILURE;
    }

    // Parameters
    const size_t start = atoll(argv[1]);
    const size_t stop = atoll(argv[2]);
    const size_t step = atoll(argv[3]);
    IOMode mode;
    if (!strcmp(argv[4], "min")) {
        mode = MODE_MIN;
        fprintf(stderr, "MIN mode\n");
    }
    else if (!strcmp(argv[4], "median")){
        mode = MODE_MEDIAN;
        fprintf(stderr, "MEDIAN mode\n");
    }
    else {
        fprintf(stderr, "Invalid mode %s\n", argv[4]);
        return EXIT_FAILURE;
    }

    // Allocate memory
    const size_t buffer_len = stop + 500;
    uint8_t *message = (uint8_t *)calloc(buffer_len, 1);
    uint8_t *key = (uint8_t *)calloc(buffer_len, 1);
    double *measurements = (double*) malloc(NUM_MEASURE_BATCHES * sizeof(double));
    if (!message || !key || !measurements) {
        fprintf(stderr, "Could not allocate message or key buffer. Arguments too large?\n");
        return EXIT_FAILURE;
    }
    srand(SEED);
    for (size_t i = 0; i < buffer_len; ++i) {
        message[i] = rand() & 255u;
        key[i] = rand() & 255u;
    }
    uint64_t sink = 0;
    uint8_t output[FIELD_EXPORT_BYTES];

{% if settings.platform == "neon" -%}
    // Read VCT counter freq
    const TIMESTAMP ctr_freq_hz = get_vct_freq();
    const double target_ticks = 9e8;
    fprintf(stderr, "target ticks: %f:\n", target_ticks);
{% elif settings.platform == "avx2" %}
    const double target_ticks = 1e9;
{%- endif %}

    // For all requested sizes
    size_t f_attempts_reps[NUM_WARMUP_BATCHES];
    for (size_t bytes = start; bytes <= stop; bytes += step) {
        // Adapt # of reps to target ticks, doubles as warmup
        const double f_ticks_guess = bytes; // bytes * [<1> cycles / byte] = cycles
        size_t reps = (size_t) (target_ticks / f_ticks_guess);
        for (size_t warmup_r = 0; warmup_r < NUM_WARMUP_BATCHES; ++warmup_r) {
{% if settings.platform == "neon" %}
            const TIMESTAMP start = start_vct();
{% elif settings.platform == "avx2" %}
            const myInt64 start = start_tsc();
{% endif %}
            for (size_t r = 0; r < (size_t) reps; r++) {
                {{func}}(output, key, message, bytes);
                sink ^= output[0];
            }
{% if settings.platform == "neon" %}
            const TIMESTAMP ticks = stop_vct(start);
{% elif settings.platform == "avx2" %}
            const myInt64 ticks = stop_tsc(start);
{% endif %}
            const double ticksd = (double) ticks;
            f_attempts_reps[warmup_r] = reps;
            reps = (size_t) (reps * target_ticks / ticksd);
        }

        // Median time of last 3 reps attempts
        const size_t median_last3 = max(min(
            f_attempts_reps[NUM_WARMUP_BATCHES - 3],
            f_attempts_reps[NUM_WARMUP_BATCHES - 2]),
            min(max(
                f_attempts_reps[NUM_WARMUP_BATCHES - 3],
                f_attempts_reps[NUM_WARMUP_BATCHES - 2]),
                f_attempts_reps[NUM_WARMUP_BATCHES - 1]
            ));
        {# fprintf(stderr, "median last three: %zu\n", median_last3); #}
        reps = median_last3;

        double min_cycles = 1ull << 52ull;
        for (size_t i = 0; i < NUM_MEASURE_BATCHES; ++i) {
            // Start timer
{% if settings.platform == "neon" %}
            const TIMESTAMP start = start_vct();
{% elif settings.platform == "avx2" %}
            const myInt64 start = start_tsc();
{% endif %}
            for (size_t j = 0; j < reps; ++j) {
                // Function call
                {{func}}(output, key, message, bytes);
                // Consume output
                sink ^= output[0];
            }
            // Stop timer, estimate cycles
{% if settings.platform == "neon" %}
            const TIMESTAMP sample = stop_vct(start);
            const double cycles = (double)sample / reps / ctr_freq_hz * CPU_FREQ_HZ;
{% elif settings.platform == "avx2" %}
            const myInt64 sample = stop_tsc(start);
            const double cycles = (double)sample / reps;
{% endif %}

            // Save result, update minimum
            measurements[i] = cycles;
            min_cycles = min(min_cycles, cycles);
        }

        // Output
        if (mode == MODE_MIN) {
            printf("%.0f\n", min_cycles);
        } else if (mode == MODE_MEDIAN) {
            qsort(measurements, NUM_MEASURE_BATCHES, sizeof(measurements[0]), compare_doubles);
            printf("%.0f\n", measurements[NUM_MEASURE_BATCHES / 2]);
        }
        fflush(stdout);

        // Log
        {# fprintf(stderr, "%zu reps %f ticks\n", reps, measurements[NUM_MEASURE_BATCHES / 2] * reps / CPU_FREQ_HZ * ctr_freq_hz); #}

    }

    free(message);
    free(key);
    free(measurements);
    fprintf(stderr, "", sink);
    return EXIT_SUCCESS;
}
