/* {{ x }} = vcarry {{ x }} */
{
{% for i in range(settings.limbs - 1) %}
{{ x }}.limb{{i + 1}} = vaddq_u{{ settings.vector_lw }}({{x}}.limb{{i+1}}, vshrq_n_u{{settings.vector_lw}}({{ x }}.limb{{i}}, {{ settings.lambda_ }}));
{{ x }}.limb{{i}} = vandq_u{{settings.vector_lw}}({{x}}.limb{{i}}, vlambda_mask);
{% endfor %}
const uint{{ settings.vector_lw }}x{{ settings.lanes }}_t {{ x }}_high_bits = vshrq_n_u{{settings.vector_lw}}({{ x }}.limb{{ settings.limbs - 1}},{{settings.lambda_prime}});
{% for shift in range (settings.field.theta.bit_length()) -%}
{%- if bitand(shr(settings.field.theta, shift), 1) -%}
{{ x }}.limb0 = vaddq_u{{ settings.vector_lw }}({{x}}.limb0,
{%- if shift > 0 -%}
vshlq_n_u{{ settings.vector_lw}}({{ x }}_high_bits, {{shift}})
{%- else -%}
{{ x }}_high_bits
{%- endif -%}
);
{%- endif %}
{% endfor %}
{{ x }}.limb{{ settings.limbs - 1}} = vandq_u{{settings.vector_lw}}({{ x }}.limb{{ settings.limbs - 1}}, vlambda_prime_mask);
{% for i in range(propagate_limbs) %}
{{ x }}.limb{{i + 1}} = vaddq_u{{ settings.vector_lw }}({{x}}.limb{{i+1}}, vshrq_n_u{{settings.vector_lw}}({{ x }}.limb{{i}}, {{ settings.lambda_ }}));
{{ x }}.limb{{i}} = vandq_u{{settings.vector_lw}}({{x}}.limb{{i}}, vlambda_mask);
{% endfor %}
}
