/* {{var}} = vload {{buffer}} @ {{position}} w/ offsets {{ offsets | join(', ')}} */
vbigint_t {{ var }};
{% for limb in range(settings.limbs) -%}
{%- set ls_bit_idx = limb * settings.lambda_ -%}
{%- set first_byte = ls_bit_idx // 8 -%}
{%- set shift_right = ls_bit_idx % 8 -%}
{%- set limb_bytes = min((settings.lambda_ + shift_right + 7) // 8, settings.vector_lw // 8) -%}
{%- set num_bytes = max(0, min(limb_bytes, chunk_size - first_byte)) -%}
{%- if num_bytes == 0 %}
{{var}}.limb{{limb}} = vdupq_n_u{{settings.vector_lw}}(0);
{% else -%}
{%- set load_start = min(first_byte, max(0, chunk_size - 16)) -%}
{%- set table_idx = first_byte - load_start -%}
uint8x16x{{settings.lanes}}_t {{var}}_limb{{limb}}_data = {
{% for lane in range(settings.lanes) -%}
    vld1q_u8(&{{buffer}}[{{chunk_size}} * ({{position}} + {{offsets[lane]}}) + {{load_start}}]),
{% endfor -%}
};
{{var}}.limb{{limb}} = 
vandq_u{{settings.vector_lw}}(
{%- if shift_right > 0 -%}
vshrq_n_u{{settings.vector_lw}}(
{%- endif -%}
vreinterpretq_u{{settings.vector_lw}}_u8(vqtbl{{settings.lanes}}q_u8({{var}}_limb{{limb}}_data, (uint8x16_t){
    {% for lane in range(settings.lanes) -%}
    {{range(table_idx + 16 * lane, table_idx + 16 * lane + num_bytes) | join(', ')}}{% for _ in range((settings.vector_lw // 8) - num_bytes)%}, 255{% endfor %},
    {% endfor %}
}))
{%- if shift_right > 0 -%}
, {{shift_right}})
{%- endif -%}
,
{%- if limb == settings.limbs - 1 -%}vlambda_prime_mask{% else %}vlambda_mask{%- endif -%}
);
{% endif -%}
{% endfor %}
