// {{ dst }} = mul {{ lhs }} {{ rhs }}
{% for i in range(settings.limbs) %}
{% for j in range(i + 1) %}{{ dst }}.limb{{ i }} = vmlaq_u{{settings.vector_lw}}({{dst}}.limb{{i}}, {{ lhs }}.limb{{ j }}, {{ rhs }}.limb{{ i - j }});
{% endfor %}
{% for j in range(i + 1, settings.limbs) %}{{ dst }}.limb{{ i }} = vmlaq_u{{ settings.vector_lw}}({{dst}}.limb{{i}}, vdupq_n_u{{ settings.vector_lw }}({{ settings.kappa }}), vmulq_u{{ settings.vector_lw }}({{ lhs }}.limb{{ j }}, {{ rhs }}.limb{{ settings.limbs + i - j }}));
{% endfor %}
{% endfor %}