{% include "src/templates/guard_and_includes.j2" %}


{% include "src/templates/datastructures.j2" %}


inline void {{ builtins["print"] }} (bigint_t x) {
    printf("[");
    for (size_t i = 0; i < LIMBS - 1; ++i)
        printf("%0{{(config.lambda_ + 3) // 4 }}llx, ", x.limbs[i]);
    printf("%0{{(config.lambda_ + 3) // 4 }}llx]\\n", x.limbs[LIMBS - 1]);
}


inline bigint_t {{ builtins["carry_round"] }}(bigint_t x) {
    bigint_t dst = x;

    // All limbs except most significant: carry over to next limb
    for (size_t i = 0; i < LIMBS - 1; ++i) {
        const uint64_t carry_amount = dst.limbs[i] >> LAMBDA;
        dst.limbs[i] &= LAMBDA_MASK;
        dst.limbs[i + 1] += carry_amount;
    }

    // Most significant limb: take (& remove) high bits,
    // multiply by theta and add to first limb
    const uint64_t high_bits = dst.limbs[LIMBS - 1] >> LAMBDA_PRIME;
    dst.limbs[LIMBS - 1] &= LAMBDA_PRIME_MASK;
    dst.limbs[0] += {{ config.field.theta }} * high_bits;

    // Propagate carry over lowest two limbs
    for (size_t i = 0; i < 2; ++i) {
        const uint64_t carry_amount = dst.limbs[i] >> LAMBDA;
        dst.limbs[i] &= LAMBDA_MASK;
        dst.limbs[i + 1] += carry_amount;
    }
    return dst;
}


inline bigint_t {{ builtins["+"] }}(const bigint_t lhs, const bigint_t rhs) {
    bigint_t dst;
    for (size_t i = 0; i < LIMBS; ++i)
        dst.limbs[i] = lhs.limbs[i] + rhs.limbs[i];
    dst = _bigint_carry_round(dst);
    return dst;
}


inline bigint_t {{ builtins["*"] }}(const bigint_t lhs, const bigint_t rhs) {
    bigint_t dst;
    memset(&dst, 0, sizeof(bigint_t));
    for (size_t i = 0; i < LIMBS; ++i) {
        for (size_t j = 0; j <= i; ++j)
            dst.limbs[i] += lhs.limbs[j] * rhs.limbs[i - j];
        for (size_t j = i + 1; j < LIMBS; ++j)
            dst.limbs[i] += lhs.limbs[j] * KAPPA * rhs.limbs[LIMBS + i - j];
    }
    dst = _bigint_carry_round(dst);
    return dst;
}


inline bigint_t {{ builtins["^"] }}(const bigint_t base, const uint64_t power) {
    bigint_t dst;
    memset(&dst, 0, sizeof(bigint_t));
    dst.limbs[0] = 1ULL;
    for (uint64_t i = 0; i < power; ++i)
        dst = _bigint_mul(dst, base);
    return dst;
}

{% include "src/templates/load_unload.j2" %}

